@import "../../../../styles";
@import "../main/main-template.component";

$status_height : 50px;

.open-view {
  @extend .view;
}

.app-view {
  height: $window_height - $status_height;
  width: 100%;
}

.status-view {
  height: $status_height;
  width: 100%;
}
