<div class="row text-center">
  <div class="col-md-12">
    <table class="control-table">
      <tr>
        <td></td>
        <td><span class="fa fa-arrow-up"></span></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="fa fa-arrow-left"></span></td>
        <td><span class="fa fa-stop-circle-o"></span></td>
        <td><span class="fa fa-arrow-right"></span></td>
      </tr>
      <tr>
        <td></td>
        <td><span class="fa fa-arrow-down"></span></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
