<div class="dial">
  <div class="row dial-screen">
    <div class="col-xs-12">
      <div class="col-xs-2 phone"><span (click)="dial()" class="fa fa-phone-square"></span></div>
      <div class="col-xs-8 number-screen">{{dialService.getDialNumber}}</div>
      <div class="col-xs-2"><span (click)="removeLastChar()" class="fa fa-caret-square-o-left"></span></div>
    </div>
  </div>
  <div class="row dial-pad">
    <div *ngFor="let rowList of [['1','2','3'],['4','5','6'],['7','8','9'],['*','0','#']]" class="number-row row">
      <div *ngFor="let col of rowList" class="col-xs-4 number" (click)="appendValue(col)"><span>{{col}}</span></div>
    </div>
  </div>
</div>
