<div class="row">

  <div class="text-center" *ngIf="!connected">
    <div class="disconnected">
      <div class="col-xs-12 error-icon">
        <span class="fa fa-cloud"></span>
      </div>
      <div class="col-xs-12">
        <span class="message">Connecting ...</span>
      </div>
    </div>
  </div>

  <div *ngIf="connected">

    <div class="col-xs-12">
      <div class="col-xs-6 text-center alert-success tracker-button" (click)="onStartPress()">Start tracker</div>
      <div class="col-xs-6 text-center alert-danger tracker-button" (click)="onStopPress()">Stop tracker</div>
    </div>

    <div *ngIf="!started" class="no-started col-xs-12 text-center">
      Press `Start tracker` to start the program
    </div>

    <div  *ngIf="started" class="col-xs-12 images">
      <div class="col-xs-6">
        <canvas #out id="out" width="320" height="180">Canvas not supported</canvas>
      </div>
      <div class="col-xs-6">
        <canvas #bw id="bw" width="320" height="180">Canvas not supported</canvas>
      </div>
    </div>
  </div>
</div>



